.EditBudgetForm-container {
    text-align: center;
    button {  
        color: #290001;   
        border: 1px solid #c0a39c;                      
        width: 65px;            
        font-size: 1rem;
        padding: 4px;
        border-radius: 5px;
        margin-left: 10px;
        outline: none;
        background-color: rgba(196, 179, 202, 0.3); 
        background-image: rgba(196, 179, 202, 0.3); 
        background-image: -moz-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: -webkit-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: linear-gradient(to bottom, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }
    button:hover {
        background-position: -200%;
        transition: background 300ms ease-in-out;
    }
}

@media screen and (max-width: 767px) {  
    .EditBudgetForm-container {
        button {
            font-size: 1.3rem;
            padding: 8px;
        }
        
    } 
}
