.EditCatgyForm-container { 
    /* centers in browser the edit input for the EditCatgyForm component*/   
    text-align: center;     
    display: flex;
    justify-content: center;
    align-items: center;         
    line-height: 1.8;   
    margin-top: 30px;     
    
    form {  
        /* styles edit input that lets user edit a category */      
        input {   
            color: #290001;         
            text-align: center; 
            font-size: 1.4rem;
            outline: none;            
            padding: 7px;              
            border: 1px solid #dbc5c5;
            border-radius: 5px;
            background-color:rgba(216, 210, 218, 0.3);                 
        }
        input:hover {
            background-color:rgba(177, 163, 182, 0.3);            
        }
        
        /* styles save button next to edit input */
        button {  
            color: #290001;   
            border: 1px solid #c0a39c;                      
            width: 65px;            
            font-size: 1.2rem;
            padding: 7px;
            border-radius: 5px;
            margin-left: 10px;
            outline: none;
            background-color: rgba(196, 179, 202, 0.3); 
            background-image: rgba(196, 179, 202, 0.3); 
            background-image: -moz-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
            background-image: -webkit-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
            background-image: linear-gradient(to bottom, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: 0%;
            -webkit-transition: background 300ms ease-in-out;
            transition: background 300ms ease-in-out;
        }
        button:hover {
            background-position: -200%;
            transition: background 300ms ease-in-out;
        }
    }
}

@media screen and (max-width: 767px) {
    .EditCatgyForm-container {
        form {
            input {
                font-size: 1.5rem;
                padding: 8px;
                width: 220px
            }
            button {
                font-size: 1.3rem;
                padding: 8px;
            }
        }
    }  
}